{% extends "LayoutBundle:Paper:index.html.twig" %}
{% block slider %}
{% endblock slider %}
{% block contentkiri %}

  <h2 class="title" align="center">LAPORAN KEUANGAN BPH PMKL SE-JABODETABEK 2017</h2>
  <div class="container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">Neraca Bulan Maret</div>
          <div class="panel-body">
            <div class="table-responsive">
            
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nama Type</th>
                            <th>Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>1</td>
                          <td>Pengeluaran Bulan Maret</td>
                          <td>{{12000000|number_format}}</td>                       
                      </tr>
                      <tr>
                          <td>2</td>
                          <td>Pemasukan BUlan Maret</td>
                          <td>{{12000000|number_format}}</td>                       
                      </tr>
                      <tr>
                          <td colspan="2">Saldo Bulan Maret</td>
                          <td>{{12000000|number_format}}</td>                       
                      </tr>

                    </tbody>
                </table>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nama Type</th>
                            <th>Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>1</td>
                          <td>Pengeluaran Bulan Maret</td>
                          <td>{{12000000|number_format}}</td>                       
                      </tr>
                      <tr>
                          <td>2</td>
                          <td>Pengeluaran Bulan Maret</td>
                          <td>{{12000000|number_format}}</td>                       
                      </tr>
                      <tr>
                          <td colspan="2">Total Saldo</td>
                          <td>{{12000000|number_format}}</td>                       
                      </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
  </div>

{% endblock contentkiri %}