
.services {
	margin-bottom: 50px;
}
.services-content {
	padding: 30px 30px 20px;
	margin-top: 30px;
	background: #eaeaea;
	border: 1px solid #fff;
	border-top: 4px solid #0385dc;
}
.services span
{
	position: absolute;
	margin-left: -159px;
}
.services .icon {
	color: #ffffff;
	font-size: 38px;
	padding-left: 15px;
	float: left;
	background: #0385dc;
	padding: 20px;
	width: 90px;
	
}


