{% extends "LayoutBundle:Paper:index.html.twig" %}
{% block slider %}
{% endblock %}
{% block contentkiri %}
	<h2 class="title">{{entities.judulContent|upper}}</h2>
	<div class="row">
	</div>
{% endblock contentkiri %}
