<ul id="flexiselDemo1">	
	<li>
		<a href="single.html">
			<img src="{{asset('news/images/g1.jpg')}}" alt="" />
		</a>						
	</li>
	<li>
		<a href="single.html">
			<img src="{{asset('news/images/g2.jpg')}}" alt="" />
		</a>
	</li>	
	<li>
		<a href="single.html">
			<img src="{{asset('news/images/g3.jpg')}}" alt="" />
		</a>
	</li>	
	<li>
		<a href="single.html">
			<img src="{{asset('news/images/g4.jpg')}}" alt="" />
		</a>
	</li>	
</ul>